<% try {
    size = size || 6
} catch (err) {
    size = 6   
} %>

<div class="relative flex flex-col items-center">
    <a href="https://twitter.com/<%= user %>" target="_blank" rel="noopener noreferrer" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition duration-150">
        <svg class="w-<%= size %> h-<%= size %>" fill="currentColor" viewBox="-25 -25 1250 1277" xmlns="http://www.w3.org/2000/svg">
            <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
        </svg>
    </a>
</div>